<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name='description' content='{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}'>

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">
  <!-- Ionicons -->
  <link href="https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css" rel="stylesheet">

  <!---------- WHAT I ADDED  ---------->
  <meta charset="UTF-8">
  <title>Leaflet.js and GoJS</title>
  <meta name="description" content="A map integrating a GoJS Diagram and the Leaflet mapping library." />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Copyright 1998-2020 by Northwoods Software Corporation. -->
<script src="https://unpkg.com/gojs/release/go-debug.js"></script>
<link rel='stylesheet' href='https://gojs.net/latest/extensions/DataInspector.css' />
<script src="https://gojs.net/latest/extensions/DataInspector.js"></script>
<script src="https://gojs.net/latest/extensions/GuidedDraggingTool.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet-src.js"></script>


  <style type="text/css">
    /* CSS applied to the Leaflet map */
    .mapDiagram {
      border: solid 1px black;
      width: 100%;
      height: 900px;
    }

    #myDiagramDiv {
      z-index: 701;
    }
  </style>


<!------- ====================== ^^  Above is from map sample dependancies^^  ---->

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Source+Code+Pro">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css"> -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
  <!-- <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
  </script> -->


  <!-- Magnific Popup core CSS file -->
  <!-- <link rel="stylesheet" href="{{ site.baseurl }}/assets/popup_assets_cp/stylesheets/magnific-popup.css"> -->

  <!-- jQuery 1.7.2+ or Zepto.js 1.0+ -->
  <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
  <script type="text/javascript" 
    src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/popup_assets_cp/stylesheets/magnific-popup.css">
  <!-- Magnific Popup core JS file -->

  <!-- <script src="{{ site.baseurl }}/assets/popup_assets_cp/javascripts/magnific-popup.js"></script> -->
  <!-- <script src="{{ site.baseurl }}/assets/popup_assets_cp/javascripts/magnific-popup.js"></script> -->

  <!-- Button Styling -->
  <!-- <link rel="stylesheet" href="{{ site.github.url }}/assets/css/buttons.css"> -->
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <!----------                  ---------->
  <style>
    {% capture include_to_scssify %}
      {% include main.scss %}
    {% endcapture %}
    {{ include_to_scssify | scssify }}


    .mapDiagram {
        border: solid 1px black;
        width: 100%;
        height: 900px;
      }

    #myDiagramDiv {
      z-index: 701;
    }
  </style>
</head>
